//(to use: @include formtext(); on .text-holder

.textbox-holder {
  display: flex;
  margin: 1em 0;
  align-items: center;

  input {
    color: color(base, foreground, text);
    background: color(indent);
    border: none;
    padding: 1em;
    border-radius: 0.5em;
    margin-right: 0.5em;

    //textbox is disabled
    &:disabled {
      color: color(indent,foreground,weak);
      cursor: not-allowed;
    }

    &:invalid {
      outline: solid 1px $red;
    }
  }

  //prelabel
  label {
    padding: 0 0.5em 0 0;
    font-weight: bold;
  }

  //postlabel
  input+label {
    padding: 0 0 0 0.5em;
  }


}

.textarea-holder {

  textarea {
    resize: none;
    width: 100%;
    min-height: 3em;
    box-sizing: border-box;
    overflow: hidden;
    transition: height 200ms;
  }

  label {
    display: block;
    margin-bottom: 0.5em;
  }
}